h1{
    color: rgb(208, 107, 164);
    background-color: rgb(145, 54, 109);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div{
    height: 800px;
    width: 400px;
    background-position: center;
    border: 1px solid rgb(181, 162, 162);
}
h2{
    font-family: serif;
    background-color: blanchedalmond;
    color: blueviolet;
}
h3{
    color:green;
}
button{
    color:rgb(228, 137, 18);
}